<div class="header-bar">
  <div class="logo">
    <a href="/top">poteshare</a>
  </div>

  <div class="menu-pc">
    <nav>
      <ul>
        <li><%= link_to "ルーム登録", '/posts/new' %></li>
        <li><%= link_to "登録ルーム一覧", '/posts' %></li>
        <li><%= link_to "予約一覧", '/posts/1/reservations' %></li>
        <li><%= link_to "プロフィール", current_user %></li>
        <li><%= link_to "ログアウト", '/logout' %></li>
      </ul>
    </nav>
  </div>

  <div class="menu-phone">
    <input type="checkbox" id="menu">
    <label for="menu"><div class="line"></div><div class="line"></div><div class="line"></div></label>
    <div id="content">
      <nav class="content-phone">
        <ul>
          <li><%= link_to "ルーム登録", '/posts/new' %></li>
          <li><%= link_to "登録ルーム一覧", '/posts' %></li>
          <li><%= link_to "予約一覧", '/posts/1/reservations' %></li>
          <li><%= link_to "プロフィール", current_user %></li>
          <li><%= link_to "ログアウト", '/logout' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
