<h1>予約フォーム</h1>

<table>
  <tr>
    <th>チェックイン</th>
    <td><%= @reservation.start_date.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>チェックアウト</th>
    <td><%= @reservation.finish_date.to_s(:datetime_jp) %></td>
  </tr>
  <tr>
    <th>人数</th>
    <td><%= @reservation.ppl %>人</td>
  </tr>
</table>


<%= form_with model: @reservation, method: :post, url: post_reservations_back_path(@post) do |form| %>
	<%= form.hidden_field :start_date %>
	<%= form.hidden_field :finish_date %>
	<%= form.hidden_field :ppl %>
  <div>
    <ul>
      <%= form.submit '入力画面に戻る' %>
    </ul>
  </div>
<% end %>

<%= form_with model: @reservation, method: :post, url: post_reservations_path, local: true do |form| %>
	<%= form.hidden_field :start_date %>
	<%= form.hidden_field :finish_date %>
	<%= form.hidden_field :ppl %>
  <div>
    <ul>
      <%= form.submit '予約を確定する' %>
    </ul>
  </div>
<% end %>
