<h1>予約一覧</h1>

<table>
  <thead>
    <tr>
    　<th>ルーム画像</th>
      <th>ルーム名</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>予約確定日</th>
    </tr>
  </thead>

  <tbody>
    <% @post.each do |post| %>
      <td><%= post.roomname %></td>
      <td><%= image_tag post.image.to_s, width: 180 %></td>
    <% end %>
    <% @reservation.each do |reservation| %>
      <th>
      <%= reservation.post_roomname %>
        <td><%= reservation.start_date %></td>
        <td><%= reservation.finish_date %></td>
        <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
      </th>
    <% end %>
  </tbody>
</table>
<p><%= link_to "ホームに戻る", '/top' %></p>
