<h1>予約一覧</h1>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <thead>
    <tr>
    　<th>ルーム画像</th>
      <th>ルーム名</th>
      <th>チェックイン</th>
      <th>チェックアウト</th>
      <th>詳細</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= image_tag reservation.post.image.to_s, width: 200 %></td>
        <td><%= reservation.post.roomname %></td>
        <td><%= reservation.start_date.to_s(:datetime_jp) %></td>
        <td><%= reservation.finish_date.to_s(:datetime_jp) %></td>
        <td><%= link_to "more..", '/top' %></td>
      </tr>   
    <% end %>
  </tbody>
</table>
<p><%= link_to "ホームに戻る", '/top' %></p>
