<h1>予約フォーム</h1>

<%= render "shared/error", obj: @reservation %>

<%= form_with model:@reservation, method: :post, url: reservations_confirm_path do |f| %>    
	<table>
    <tr>
      <th>チェックイン</th>
      <td><%= f.date_select :start_date, class: 'form-control' %></td>
    </tr>
    <tr>
      <th>チェックアウト</th>
      <td><%= f.date_select :finish_date, class: 'form-control' %></td>
    </tr>
    <tr>
      <th>人数</th>
      <td><%= f.text_field :ppl %></td>
    </tr>
  </table> 
	<div>
    <ul>
      <%= f.submit '確認画面へ' %>
		</ul>
	</div>
<% end %>

