
<h1>ルーム登録</h1>
<p>全て登録に必須の情報です。</p>
<%= render "shared/error", obj: @post %>

  <%= form_with model: @post, local: true do |f| %>
  <table>
    <tr>
      <th><%= f.label :roomname ,"ルーム名" %></th>
      <td><%= f.text_field :roomname, size: "31x10" %></td>
    </tr>

    <tr>
      <th><%= f.label :introduction ,"ルーム紹介" %></th>
      <td><%= f.text_area :introduction, size: "30x10" %></td>
    </tr>

    <tr>
      <th><%= f.label :price ,"料金（１泊）" %></th>
      <td><%= f.text_field :price, size: "31x10" %></td>
    </tr>

    <tr>
      <th><%= f.label :address ,"住所" %></th>
      <td><%= f.text_field :address, size: "31x10" %></td>
    </tr>

    <tr>
      <th><%= f.label :image, 'ルーム画像' %></th>
      <td><%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %></td>
    </tr>
  </table>  
    <tr>
      <%= f.submit "登録する"%>
    </tr>
    
  <% end %>
</body>