<!DOCTYPE html>
<html>
  <header>
    <title>Shareapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: 'all', 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
  <header>
    <% if logged_in? %>
    <%= render 'users/logged_in' %>
    <% else %>
    <%= render 'users/not_logged_in' %>
    <% end %>
  </header>

  <%= yield %>
    
    <footer>
      <h3>@ 2021 one of asainment</h3>
    </footer>
  </body>
</html>
